{% extends 'layout.html.twig' %}

{% block title %}
 {{ parent() }} - Editeur de niveau
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/game.css">
{% endblock %}

{% block content %}
<form class="editor-form" action="" method="post">
    <label class="editor-label" for="name">Nom du niveau: </label>
    <input class="editor-input" type="text" name="name" id="name" value="{{ level.name }}" required>
    <label class="editor-label" for="description">Description: </label>
    <textarea class="editor-input" name="description" id="description">{{ level.description }}</textarea>
    <div class="level-grid" style="--grid-dimension: {{ grid|length }};">
    {% for row in grid %}
        {% for cell in row %}
            <div class="level-tile">
                {% set name = "cell-" ~ loop.index0 ~ "-" ~ loop.parent.loop.index0 %}
                {% set wallId = name ~ '-wall' %}
                {% set floorId = name ~ '-floor' %}
                <input class="level-input" type="radio" name="{{ name }}" value="wall" id="{{ wallId }}" {{cell == "wall" ? 'checked' : ""}}>
                <label class="level-label wall" for="{{ floorId }}"></label>
                <input class="level-input" type="radio" name="{{ name }}" value="floor" id="{{ floorId }}" {{cell == "floor" ? 'checked' : ""}}>
                <label class="level-label floor" for="{{ wallId }}"></label>
            </div>
        {% endfor %}
    {% endfor %}
    </div>
    <button class="editor-submit" type="submit">Envoyer</button>
</form>
{% endblock %}
