{% extends 'layout.html.twig' %}

{% block title %}
 {{ parent() }} - Editeur de niveau
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/game.css">
{% endblock %}

{% block content %}
{% for error in errors %}
    <p>{{ error }}</p>
{% endfor %}
<form class="editor-form" method="post">
    <label class="editor-label" for="name">Nom du niveau: </label>
    <input class="editor-input" type="text" name="name" id="name" value="{{ level.name }}" required>
    <label class="editor-label" for="description">Description: </label>
    <textarea class="editor-input" name="description" id="description">{{ level.description }}</textarea>
    <label class="editor-label" for="width">Largeur: </label>
    <input class="editor-input" type="number" name="width" id="width" value="{{ level.width }}" required>
    <label class="editor-label" for="height">Hauteur: </label>
    <input class="editor-input" type="number" name="height" id="height" value="{{ level.height }}" required>
    <div class="level-grid" style="--grid-width: {{ level.width }}; --grid-height: {{ level.height }};">
    {% for y, row in grid %}
        {% for x, cell in row %}
            <div class="level-tile">
                {% set name = "cell-" ~ x ~ "-" ~ y %}
                {% set wallId = name ~ '-wall' %}
                {% set floorId = name ~ '-floor' %}
                {% set finishId = name ~ '-finish' %}
                <input class="level-input" type="radio" name="{{ name }}" value="wall" id="{{ wallId }}" {{cell == "wall" ? 'checked' : ""}}>
                <label class="level-label wall" for="{{ floorId }}"></label>
                <input class="level-input" type="radio" name="{{ name }}" value="floor" id="{{ floorId }}" {{cell == "floor" ? 'checked' : ""}}>
                <label class="level-label floor" for="{{ wallId }}"></label>
                <input class="level-input" type="radio" name="{{ name }}" value="finish" id="{{ finishId }}" {{cell == "finish" ? 'checked' : ""}}>
                <label class="level-label finish" for="{{ floorId }}"></label>
            </div>
        {% endfor %}
    {% endfor %}
    </div>
    <button class="button" type="submit">Sauvegarder</button>
</form>
{% endblock %}
