{% extends 'layout.html.twig' %}

{% block title %}
 {{ parent() }} - Editeur de niveau
{% endblock %}

{% block stylesheet %}
<link href="assets/css/editor.css" rel="stylesheet">
{% endblock %}

{% block content %}
<form action="/editor/delete" class="level-list" method="POST">
   <h1>Éditeur</h1>
   <table>
      <tr>
         <th>Nom</th>
         <th>Description</th>
         <th>🗑</th>
      </tr>
      {% for level in levels %}
      <tr>
         <td><a href="/editor/edit?id={{ level.id }}">{{ level.name }}</a></td>
         <td>{{ level.description|length > 50 ? level.description|slice(0, 50) ~ '...' : level.description }}</td>
         <td><input class="checkbox" type="checkbox" value="delete" name="{{ level.id }}"></td>
      </tr>
      {% endfor %} 
   </table>
   <div class="buttonEditor">
      <button class="button" id="createButton" type="submit" formaction="/editor/create">Créer</button>
      <button class="button" id="deleteButton" type="submit">Supprimer</button>
   </div>
</form>
{% endblock %}
