{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Game - {{ level.name }}
{% endblock %}

{% block content %}
    <h1 class="level-name">{{ level.name }}</h1>
    {% if level.description %}
        <p class="level-description">{{ level.description }}</p>
    {% endif %}
    <div class="game" style="--grid-dimension: {{ grid|length }};">
    {% for row in grid %}
        {% for cell in row %}
        <div class="{{ cell|join(' ') }}"></div>
        {% endfor %}
    {% endfor %}
    </div>
{% endblock %}
