{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Game - {{ level.name }}
{% endblock %}

{% block content %}
    <h1 class="level-name">{{ level.name }}</h1>
    {% if level.description %}
        <p class="level-description">{{ level.description }}</p>
    {% endif %}
    <div class="game" data-level-content="{{ level.content }}"></div>
{% endblock %}

{% block javascript %}
    <script src="assets/game.js"></script>
{% endblock %}
