{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Game - {{ level.name }}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/game.css">
{% endblock %}

{% block content %}
    <h1 class="level-name">{{ level.name }}</h1>
    <div class="game-container">
        <div class="game" style="--grid-dimension: {{ grid|length }};">
        {% for row in grid %}
            {% for cell in row %}
                <div class="{{ cell.classes|join(' ') }} game-tile">
                {% if cell.isLink %}
                    {% if "finish" in cell.classes %}
                        {% set link = "/win" %}
                    {% else %}
                        {% set link = "?action=" ~ cell.action %}
                    {% endif %}
                    <a class="game-direction" href="{{ link }}">{{ cell.linkText }}</a>
                {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    {% if level.description %}
        <p class="level-description">{{ level.description }}</p>
    {% endif %}
{% endblock %}
