{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Game - {{ level.name }}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/game.css">
{% endblock %}

{% block content %}
    <h1 class="level-name">{{ level.name }}</h1>
    {% if level.description %}
        <p class="level-description">{{ level.description }}</p>
    {% endif %}
    <div class="game" style="--grid-dimension: {{ grid|length }};">
    {% for row in grid %}
        {% for cell in row %}
            {% if cell.isLink %}
                <a class="{{ cell.classes|join(' ') }}" href="?x={{ cell.linkX }}&y={{ cell.linkY }}">{{ cell.linkText }}</a>
            {% else %}
                <div class="{{ cell.classes|join(' ') }}"></div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
{% endblock %}
